a {
    text-decoration: none;
    color: black;
}

.link {
    display: inline-block;
    width: 100px;
    border: 1px solid coral;
    border-radius: 5px;
    color: coral;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    margin: 10px;
}

nav > .link:hover {
    box-shadow: 0px 0px 20px coral;
}

a:hover {
    text-shadow: 0px 0px 20px coral;
}

.link.selected {
    background-color: coral;
    color: cyan;
    border: none;
}

.title {
    border: none;
    width: max-content;
    display: inline-grid;
    font-size: 3rem;
}

.img_cursor {
    width: 63rem !important;
    margin-bottom: 2rem;
}
